.git
__pycache__
*.pyc
.env
Dockerfile
tmp/
data/
main/manager-web/node_modules/
main/xiaozhi-server/data/
main/xiaozhi-server/models/*
!main/xiaozhi-server/models/snakers4_silero-vad/
!main/xiaozhi-server/models/snakers4_silero-vad/**
main/xiaozhi-server/mysql/
main/xiaozhi-server/uploadfile/
main/xiaozhi-server/tmp/
.venv310/
main/xiaozhi-server/.venv310/
**/node_modules/
**/__pycache__/
**/*.pyc
